<form (submit)="submit()" [formGroup]="searchForm">
  <div class="flex">
    @if (searchForm.get("query"); as field) {
    <mat-form-field class="flex-1" appearance="fill">
      <mat-label>Search</mat-label>
      <input type="text" matInput formControlName="query" />
      <mat-hint> @if(field.pending){ PLease wait ...} </mat-hint>
      <mat-error>
          @if (field.hasError("required")) {
            Name is required
          }
          @if (field.getError("minlength"); as error) {
            Mininum length is "{{ error.requiredLength }}"
          }
          @if (field.getError("censor"); as error) {
            Cant contain "{{ error.badword }}"
          }
        </mat-error>
      </mat-form-field>
    }
    <div class="relative">
      <button
        mat-fab
        color="primary"
        type="submit"
        class="absolute right-5 bottom-1"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <div class="text-end" (click)="isAdvanced = !isAdvanced">Advanced</div>
    @if (isAdvanced) {
      <div class="grid grid-cols-2 gap-5" formGroupName="advanced">
        <div>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Resource Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="album">Album</mat-option>
              <mat-option value="artist">Artist</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <h3>Markets</h3>
          <div class="grid" formArrayName="markets">
            @for (item of markets.controls; track $index) {
              <mat-form-field class="w-full" [formGroup]="item">
                <input type="text" matInput="" formControlName="code" />
              </mat-form-field>
            }
            <button type="button" mat-raised-button="" (click)="addMarket()">
              Add market
            </button>
          </div>
        </div>
        <pre>{{ searchForm.value | json }}</pre>
      </div>
    }
  </div>
</form>
