<!-- div.grid.gap-5>div.grid.gap-2*3>label{Name}+input -->
<!-- div.grid.gap-5>div.grid.gap-2>label{Name}+input -->

<!-- <pre>{{playlist | json  | uppercase }}</pre> -->
<pre>{{ playlist | json  }}</pre>

<div class="grid gap-5">
  <div class="grid gap-2">
    <label>Name</label>
    <input
      type="text"
      [value]="playlist.name"
      class="border border-solid border-gray-400"
      #localInputRef
    />
    <!-- <div class="text-right">{{playlist.name.length}} / 100</div> -->
    <div class="text-right">{{localInputRef.value.length}} / 100</div>
  </div>

  <div class="grid gap-2">
    <label> <input type="checkbox" [checked]="playlist.public" (click)="0"/> Public</label>
  </div>

  <div class="grid gap-2">
    <label>Description</label>
    <textarea
      [value]="playlist.description"
      class="border border-solid border-gray-400"
    ></textarea>
  </div>
</div>
