<div class="grid grid-cols-2 gap-5">
  <div>
    <app-playlist-list
      [items]="playlistsData"
      [selectedId]="selectedId"
      (selectedIdChange)="selectPlaylistById($event)"
    />
    <!-- <input type="text" [value]="selected.name"  [pancakes]="'bananas'"> -->
    <!-- <input type="text" [value]="selected.name" (keydown)="$event" /> -->
  </div>
  <div>
    {{ selected.name }}

    <ng-container [ngSwitch]="mode">
      <app-playlist-details *ngSwitchDefault [playlist]="selected" />
      <app-playlist-editor *ngSwitchCase="'editor'" [playlist]="selected" />
    </ng-container>

    <div class="flex justify-between w-full">
      <button mat-raised-button (click)="mode = 'details'">Cancel</button>
      <button mat-flat-button (click)="mode = 'editor'">Edit</button>
    </div>
  </div>
</div>
