<div class="grid grid-cols-2 gap-5">
  <div>
    <app-playlist-list
      [items]="playlistsData"
      [selectedId]="selectedId"
      (selectedIdChange)="selectPlaylistById($event)"
    />
  </div>
  <div>
    <ng-container [ngSwitch]="mode">
      <app-playlist-details
        *ngSwitchDefault
        [playlist]="selected"
        (edit)="showEditor()"
      />
      <app-playlist-editor
        *ngSwitchCase="'editor'"
        [playlist]="selected"
        (cancel)="showDetails()"
        (save)="savePlaylist($event)"
      />
    </ng-container>
  </div>
</div>
