<div class="grid grid-cols-2 gap-5">
  <div>
    <app-playlist-list
      [items]="playlistsData"
      [selectedId]="selectedId"
      (selectedIdChange)="selectPlaylistById($event)"
    />

    <button mat-fab (click)="mode = 'creator'">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div>
    <ng-container [ngSwitch]="mode">
      
      <app-playlist-details
        *ngSwitchDefault
        [playlist]="selected"
        (edit)="showEditor()"
      />

      <app-playlist-editor
        *ngSwitchCase="'editor'"
        [playlist]="selected"
        (cancel)="showDetails()"
        (save)="savePlaylist($event)"
      />
      
      <app-playlist-editor
        *ngSwitchCase="'creator'"
        (cancel)="showDetails()"
        (save)="savePlaylist($event)"
      />
    </ng-container>
  </div>
</div>
