<app-main-navigation>
  <!-- content -->

  <ng-container ngProjectAs="toolbar">
    <div class="flex justify-between items-center w-full">
      <h1 class="text-3xl font-bold text-red-600 underline" (click)="(0)">
        Hello {{ title.toLocaleUpperCase() }} !
      </h1>
      <button mat-flat-button (click)="login()">Login</button>
    </div>
  </ng-container>

  <div class="container">
    <router-outlet />
  </div>

  <ng-container ngProjectAs="sidebar">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/"
        routerLinkActive="mdc-list-item--activated"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        mat-list-item
        routerLinkActive="mdc-list-item--activated"
        routerLink="/playlists"
        >Playlists
      </a>
      <a
        mat-list-item
        routerLinkActive="mdc-list-item--activated"
        routerLink="/music"
        >Music</a
      >
    </mat-nav-list>
  </ng-container>
</app-main-navigation>
