<div class="grid gap-5">
  <div>
    <app-search-form (search)="searchAlbums($event)" />
  </div>
  <div>
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-3 md:grid-cols-4">
      <ng-container *ngIf="resultsChanges | async as results">
        @for (item of results; track item) {
          <app-album-card [album]="item" />
        }
      </ng-container>

      <!-- @if ((resultsChanges | async); as results) {
        @for (item of results; track item) {
          <app-album-card [album]="item" />
        }
      } -->
    </div>
  </div>
</div>
