<!-- .grid.gap-5>div.grid.gap-2*3>strong{Name}+div{Playlist Name} -->

<!-- {{ 'any expression '.toUpperCase() + 123 }} -->
<!-- {{  isTrueOrFalse ? 'show this ' : 'else this'}} -->

<div class="grid gap-5"
    id="playlist_{{playlist.id}}"
    [title]="playlist.name"
    [attr.data-playlist-id]="playlist.id"
>
  <div class="grid gap-2">
    <strong>Name</strong>
    <div>{{ playlist.name }}</div>
  </div>

  <div class="grid gap-2">
    <strong>Public</strong>
    <!-- $0.style.color = 'red'  -->
    <div [style.color]=" 'dark' + 'red'  ">{{ playlist.public ? "Yes" : "No" }}</div>
  </div>

  <div class="grid gap-2">
    <strong>Description</strong>
    <div [class.text-gray-500]="true">{{ playlist.description }}</div>
  </div>
</div>
